<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/mililimremax/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/MililimCourtierImmobilier"><i class="fab fa-facebook"></i></a>
    <a href="https://mililim.ca/"><i class="fas fa-globe"></i></a>
  </div>
</div>
