<div class="esf-navbar d-flex justify-content-end align-items-center">
  <ul>
    <li id='home-link'><p><%= link_to "Accueil", root_path %></p></li>
    <li id='estimation-link'><p><%= link_to "Obtenir une estimation", '/#form' %></p></li>
  </ul>
</div>