<div class="d-flex justify-content-between">
  <div class="home-left">
    <div class="header">
      <h1>Trouvez la valeur de votre maison</h1><br>
      <p>Avez-vous toujours voulu connaître la valeur de votre propriété ? N'attendez plus, remplissez tout simplement notre formulaire et vous en connaîtrez la valeur !</p>
      <a href="/estimations/new">
        <button class="btn btn-esf">Commencer !</button>
      </a>
      <br>
      <a href="#fonctionnement"><i class="fas fa-home"></i> Comment cela fonctionne?</a>
    </div>

    <div class="container" id="fonctionnement">
      <h2>Trois étapes faciles</h2>
      <div class="step d-flex align-items-center">
        <div class="number d-flex align-items-center justify-content-center">1</div>
        <div class="step-info d-flex align-items-center"><p>Complétez le formulaire en ligne</p></div>
      </div>

      <div class="step d-flex align-items-center">
        <div class="number d-flex align-items-center justify-content-center">2</div>
        <div class="step-info d-flex align-items-center"><p>Soumettez votre formulaire</p></div>
      </div>      
      
      <div class="step d-flex align-items-center">
        <div class="number d-flex align-items-center justify-content-center">3</div>
        <div class="step-info d-flex align-items-center"><p>Un courtier immobilier vous recontactera pour vous donner son estimation.</p></div>
      </div>

    </div>
  </div>

  <div class="home-img">
    <%= image_tag "https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"%>
  </div>
</div>