.btn-esf {
  background: black;
  color: white;
  font-weight: bold;
  font-family: $body-font;
  // border-radius: 32px;
  padding: 12px 32px;
  margin-bottom: 64px;
  transition: 0.5s;
  &:hover {
    background: rgb(75, 75, 75);
    color: white;
  }
}