.btn-esf {
  background: #34A1EC;
  color: white;
  font-weight: bold;
  font-family: $body-font;
  border-radius: 32px;
  padding: 12px 32px;
  margin-bottom: 64px;
  transition: 0.5s;
  &:hover {
    background: #a8dcff;
    color: rgb(160, 160, 160);
  }
}