.btn-esf {
  background: $dark-blue;
  color: white;
  font-weight: bold;
  font-family: $body-font;
  border-radius: 4px;
  transition: 0.5s;
  &:hover {
    background: $darker-blue;
    color: $light-gray;
  }
}