.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 16px;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-position: center;
}

.flip-card-back {
  background-color: white;
  color: $burgundy;
  transform: rotateY(180deg);
  border-radius: 8px;
  text-align: justify;
  padding: 16px;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  -12px -12px 65px 0 rgba(255, 255, 255, 0.5);

  h2 {
    text-align: center;
  }
}

.card-value {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 12px;
  padding: 0px;
}

.card-value img {
  height: 150px;
  width: 150px;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 210px;
  }
}

.card-value h3 {
  font-size: x-large;
  margin: 0;
  color: $burgundy;
}

.card-value p {
  line-height: 1.4;
  opacity: .7;
margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
}

.card-value .card-value-infos {
  padding: 16px;
}
