#new_estimation {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  width: 90%;
}

.form-part {
  width: 40%;
  text-align: left;
}

.form-group {
  & input {
    border: none;
    border-bottom: 2px solid $burgundy;
  }
  & label:first-child {
    color: rgb(75, 75, 75);
  }
  & legend {    
    color: rgb(75, 75, 75);
  }
  & button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  & abbr {
    display: none;
  }
}

svg {
  fill: $burgundy !important;
}

/* Customize the label (the estimation_choices) */
.estimation_choices {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
