.esf-navbar {
  background: transparent;
  padding: 32px 12px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;

  & li {
    list-style: none;
    display: inline-block;
    padding-right: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  }

  & a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  & a:last-child:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid white;
  }

}

.navbar-dark {
  background-color: $burgundy;
  padding: 0px;
  padding-top: 12px;
  margin-bottom: 0px;

  & ul {
    margin-bottom: 0px;
  }

  & a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  & a:last-child:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid white;
  }
}