.esf-navbar {
  background-color: white;
  padding: 12px;
  & li {
    list-style: none;
    display: inline-block;
    padding-right: 32px;
  }
  & a {
    color: $burgundy;
    text-decoration: none;
    transition: 0.3s;
  }
  & a:last-child:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid $burgundy;
  }
}
